<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .token {
            background-color: rgb(199, 199, 199);
            padding: 5px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <p>Hemos recibido una solicitud de recuperación de contraseña para {{email}}. Para seguir ingresa <a
            href="{{link}}">acá</a></p>
    <br>
    <p>O ingresando a este link <span class="token">{{link}}</span></p>
</body>

</html>