<!DOCTYPE html>
<html>

<head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
    </style>
</head>

<body>
    <p>Hemos recibido una solicitud por parte de un cliente para conocer más sobre el Vigilador Virtual. A continuación
        se adjuntan los datos de contacto proporcionados por el mismo:</p>
    <ul>
        <li><strong>Nombre del cliente:</strong> {{name}}</li>
        <li><strong>Mail:</strong> {{email}}</li>
        <li><strong>Teléfono:</strong> {{phone}}</li>
    </ul>
</body>

</html>